{[{define "bodyheader"}]}
<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
        <link rel="stylesheet" href="/addons/bootstrap-3.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
        <link rel="stylesheet" type="text/css" href="css/menu.css" />
        <script src="js/modernizr.custom.js"></script>        
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/specific.css">
        <link rel="stylesheet" href="/css/editor.css">
        <script type="text/javascript" src="/addons/jquery/jquery-2.0.3.min.js"></script>
        <script src="/addons/bootstrap-3.1.0/js/bootstrap.min.js"></script>
        <script src="/addons/angular-1.2.12/angular.min.js"></script>

        <script src="/js/app.js"></script>
        <title>{[{.Website}]}</title>
    </head>
    <body>
{[{end}]}    