{[{define "footer"}]}        
        <footer>
            <div>
            <table width="100%">
            <tr>
                <td class="about">网站： <a href="http://{[{.Website}]}">{[{.Website}]}</a></td>
                <td class="aboutme" align="right">
                    关于作者：{[{.Author}]} &nbsp;&nbsp;
                    QQ：
                    <a href="tencent://message/?uin={[{.QQ}]}&amp;Site=和我联系&amp;Menu=yes">
                        <img border="0" alt="和我联系" align="absMiddle" src="http://wpa.qq.com/pa?p=1:{[{.QQ}]}:1">
                    </a> &nbsp;&nbsp;
                    邮箱：<a href="mailto:{[{.Email}]}">{[{.Email}]}</a>
                </td>
            </tr>
            </table>
            </div>
        </footer>
{[{end}]}