{[{define "main"}]}
<section>
    <div class="context" valign="middle"><!--  align="center" valign="middle" -->
        <form class="form-inline" role="form">
            <div class="row-fluid">
            </div>
        </form>
    </div>

    <nav id="bt-menu" class="bt-menu">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <ul>
            <li><a href="#" class="bt-icon icon-browser">Browser</a></li>
            <li><a href="#" class="bt-icon icon-email">Email</a></li>
            <li><a href="#" class="bt-icon icon-bubble">Chat</a></li>
            <li><a href="#" class="bt-icon icon-calculator">Calculate</a></li>
            <li><a href="#" class="bt-icon icon-cd">Record</a></li>
        </ul>
        <ul>
            <li><a href="#" class="bt-icon icon-newspaper">News</a></li>
            <li><a href="#" class="bt-icon icon-file-add">Add</a></li>
            <li><a href="#" class="bt-icon icon-trash">Delete</a></li>
        </ul>
    </nav>

</section> 
<div id="bodybg">
    <img src="img/bg2.jpg" />
</div> 
{[{end}]}