/*table,tr,th,td,*/
header,footer,section,div,nav{ 
    padding: 0;
    margin: 0;
    display: block;  
}

header,footer{
    position: relative;
    width: 100%;
    background-color: #2e2e2e;
    font-size: 10px;
    color: #eee;
}

header{
    /*box-shadow: 0 5px 15px #888888;*/
    background:  #444 url(/img/header.png) bottom left repeat-x;
    border-bottom: 1px #121212 solid; 
}

footer{
    position: fixed;
    bottom: 0;
    background: #444 url(/img/footer.png);
    text-shadow: 0px 0px 2px rgba(60,40,100,0.5);
    box-shadow: inset 0 -5px 10px rgba(0,0,0,0.75);
    border-top: 1px #121212 solid; 
}

label{
    /*text-align: right;*/
    line-height: 32px;
    text-shadow: 0px 0px 2px rgba(60,40,100,0.5);
}

body{

    background: url(/img/bg.png) left top repeat;
}

span{
    font-size: 20px;
    color: #222;
    text-shadow: 0px 0px 2px #0000FF;
}

ui{
    color: #fff;
    text-shadow: 0px 0px 1px #00FFFF;
}

/*.row{
    margin: 0;
}*/
.row-fluid{
    padding-top: 5px;
    margin: 0px 25px 15px 25px;
}
.col-md-12{
    padding-left: 0;
    padding-right: 0;
}



/* Place all stylesheet code here */
/*body { background: #333; text-shadow: 0 1px 1px rgba(0,0,0,.5); }
*/

@-webkit-keyframes bigAssButtonPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 50px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 25px #333; }
}

@-webkit-keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #e33100; -webkit-box-shadow: 0 0 18px #e33100; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes magentaPulse {
  from { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #a9014b; -webkit-box-shadow: 0 0 18px #a9014b; }
  to { background-color: #630030; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

@-webkit-keyframes orangellowPulse {
  from { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ffb515; -webkit-box-shadow: 0 0 18px #ffb515; }
  to { background-color: #fc9200; -webkit-box-shadow: 0 0 9px #333; }
}

a.button {
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite; 
}

.green.button { -webkit-animation-name: greenPulse; -webkit-animation-duration: 3s; }
.blue.button { -webkit-animation-name: bluePulse; -webkit-animation-duration: 4s; }
.red.button { -webkit-animation-name: redPulse; -webkit-animation-duration: 1s; }
.magenta.button { -webkit-animation-name: magentaPulse; -webkit-animation-duration: 2s; }
.orange.button { -webkit-animation-name: orangePulse; -webkit-animation-duration: 3s; }
.orangellow.button { -webkit-animation-name: orangellowPulse; -webkit-animation-duration: 5s; }

.wall-of-buttons { width: 100%; height: 180px; text-align: center; }
.wall-of-buttons a.button { display: inline-block; margin: 0 10px 9px 0; } 
