#editor { 
    font-family: Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
    font-size: 12px;
    position: absolute;
    /*opacity: .5;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}