#editor { 
    font-family: 'Droid Sans Mono',Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace;
    position: absolute;
    /*opacity: .75;*/
    top: 0px;
    left: 0px;
    right: 90px;
    bottom: 90px;
}