.context{
    /*padding: 0 5% 0 5%;*/
    height: 90%;
    margin: 0 5% 0 5%;
    border-left: 1px solid;
    border-right: 1px solid;
    box-shadow: 0 1px 16px rgba(0,0,0,0.75); 
}

.nav-title{
    float: right;

}

.btn-submit{
    float: right;
    top: 100px;
}

.header-unit{
    height: 64px;
}

.show-grid{
    margin-bottom: 15px;
}

.about{
    padding-left: 30px;
}

.aboutme{
    float: right;
    padding-right: 3%;
}
